img{
    object-fit: cover;
}
.all{
    font-family: 'DejaVu Sans', Arial, Helvetica, sans-serif;
    font-size: 2vw;
    text-align: center;
    background-color: #282923;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}
.link{
  padding-top: 5px;
}
.button2:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
.form_fields{
    width: 100%;
    padding-top: 15px;
}
table{
    width: 100%;
    border-collapse: collapse;
    font-size: 1.4vw;
}

tr{
    font-style: italic;
    text-align: center;
}
td{
    border:solid 7px;
}
.input{
    width: 100%;
    border: none;
}
.th_centered{
    display: flex;
    justify-content: space-around;
    width: 55%;
    margin: 0 auto;
}
.th_name{
    float: left;
    margin-right: 10px;
}
.order_by{
    width: 1.1vw;
    float: left;
    margin-right: 10px;
}

#table tr:nth-child(even){background-color:#D8D8D8;}
#table tr:nth-child(odd){background-color:#EEE2E2;}

#table tr:hover {background-color: #C3C3C3;}

#table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #F92447;
    color: white;
    border:solid 7px #000000;
}

a{
    text-decoration: none;
    color: #FF9125;
}
label{
    color: #FF9125;
}
a:hover{
    text-decoration: underline;
}
form{
    float: left;
    width: 100%;
    padding-top: 15px;
}
input {
    font-family: 'DejaVu Sans', Arial, Helvetica, sans-serif;
    font-size: 2vw;
    padding-top: 15px;
}

h1{
    color: #68AEDC;
}
p{
    color: red;
}
