<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <title>Hello World!</title>
</head>
<body class="all">
<h1 th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]!</h1>
<p th:text="${message}"></p>
<a class="link" href="javascript:void(0)" onclick="show_info_block(document.getElementById('d1'))" >Add employee</a>
<div id="d1" class="hidden_forms">
    <form th:action="@{/employee/add}" method="post">
        <div class="form_fields"><label> Employee name: <input type="text" name="name"/> </label></div>
        <div class="form_fields"><label> Surname: <input type="text" name="surname"/> </label></div>
        <div class="form_fields"><label> Middle name: <input type="text" name="middleName"/> </label></div>
        <div class="form_fields"><input type="submit" value="Add"/></div>
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />﻿
    </form>
</div>
<a class="link" href="javascript:void(0)" onclick="show_info_block(document.getElementById('d2'))">Remove employee</a>
<div id="d2" class="hidden_forms">
    <form th:action="@{/employee/remove}" method="post">
        <div class="form_fields"><label> Employee name: <input type="text" name="name"/> </label></div>
        <div class="form_fields"><label> Surname: <input type="text" name="surname"/> </label></div>
        <div class="form_fields"><label> Middle name: <input type="text" name="middleName"/> </label></div>
        <div class="form_fields"><input type="submit" value="Remove"/></div>
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />﻿
    </form>
</div>
<a class="link" href="javascript:void(0)" onclick="show_info_block(document.getElementById('d3'))">Add device</a>
<div id="d3" class="hidden_forms">
    <form th:action="@{/phone/add}" method="post">
        <div class="form_fields"><label> Phone name: <input type="text" name="name"/> </label></div>
        <div class="form_fields"><label> Amount: <input type="text" name="amount"/> </label></div>
        <div class="form_fields"><label> Firmware name: <input type="text" name="firmware_name"/> </label></div>
        <div class="form_fields"><label> Firmware ver: <input type="text" name="firmware_version"/> </label></div>
        <div class="form_fields"><input type="submit" value="Add"/></div>
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />﻿
    </form>
</div>
<a class="link" href="javascript:void(0)" onclick="show_info_block(document.getElementById('d4'))">Remove device</a>
<div id="d4" class="hidden_forms">
    <form th:action="@{/phone/remove}" method="post">
        <div class="form_fields"><label> Phone name: <input type="text" name="name"/> </label></div>
        <div class="form_fields"><label> Firmware: <input type="text" name="firmware"/> </label></div>
        <div class="form_fields"><label> Amount: <input type="text" name="amount"/> </label></div>
        <div class="form_fields"><input type="submit" value="Remove"/></div>
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />﻿
    </form>
</div>
<a class="link" href="javascript:void(0)" >Remove order</a>
<a class="link" href="javascript:void(0)" >View orders</a>
<a class="link" href="/registration"> Add new user</a>
<form th:action="@{/logout}" method="post">
    <input class="button2" type="submit" value="Sign Out"/>
    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />﻿
</form>
<script type="text/javascript" src="/static/js.js"></script>
</body>
</html>